<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>고객 관리</title>

        <style>

            h1 {
                margin-inline: 110px;
            }


            body {
                border: 2px solid black;
                margin: 20px auto;
                width: 380px;
            }

            h4 {
                margin-left: 300px;
            }

            #add {
                margin-inline: 160px;
            }

            

        </style>
    </head>
    <body>

        <h1>고객 목록</h1>
        <h4>총 <%=persons.length%>명</h4>
        
        <div>
            <table>
                <tr>
                    <th>이름</th>
                    <th>나이</th>
                    <th>전화번호</th>
                    <th>수정</th>
                    <th>삭제</th>
                </tr>
                <% for (let i = 0; i < persons.length; i++) { %>
                    <tr>
                        <td><%= persons[i].name %></td>
                        <td><%= persons[i].age %></td>
                        <td><%= persons[i].mobile %></td>
                        <td><a href="/person/update?id=<%= persons[i].id %>&name=<%= persons[i].name%>&age=<%= persons[i].age%>&mobile=<%= persons[i].mobile%>">수정</a></td>
                        <td><a href="/person/delete?id=<%= persons[i].id %>">삭제</a></td>
                    </tr>
                <% } %>
            </table>
        </div>

        <div id="add">
            <p></p>
            <a href="/person/add">추가</a>
        </div>
        
        
    </body>
</html>